<h2>hello, <%=@current_user.username%>!</h2>
<p>You can <strong><%=link_to "edit", edit_user_path %></strong> your profile here.</p>
Total revenue as of <%= Date.today %>:  
<%if @current_user.total_earned > 0 %> 
  <%= @current_user.total_earned %>
<%else %>
  <p> You haven't sold any products yet! Why not <strong><%=link_to "add a product", new_product_path%></strong> to sell? </p>
<%end%>

<%# ADD total revenue of all status that qualify(all status except for pending) HERE %>
<section class="user-products__container">
  <h3 class="user-products__header">Manage your products</h3>
  <table class="table">
    <thead>
      <tr>
        <th> Title</th>
        <th> Price</th>
        <th> Stock</th>
        <th> Description</th>
        <th> Category</th>
        <th> Edit </th>
      </tr>
    </thead>
    <tbody>
      <%if @current_user.products %>
        <% @current_user.products.each do |product| %>
          <tr>     
            <%= form_with model: product, method: :patch, url: product_path(product.id) do |f| %>
            <td><%= link_to product.name, product_path(product) %></td>
            <td><%= f.text_field :price%></td>
            <td><%= product.stock%></td>
            <td><%= product.description %></td>
            <%if !product.categories.empty? %>
              <td><%= product.categories.first.name %></td>
            <%else%>
              <td><p> N/A!</p></td>
            <%end %>
            <td><%= f.submit submit_button_label: "Edit Product"%></td>
          <% end %>
          </tr>
        <% end %>
      <% end %>
  </tbody>
  </table>
</section>

<section class="user-orders__container">
  <h3 class="user-products__header">Manage your orders</h3>
  <table class="table">
    <thead>
      <tr>
        <th> Order id</th>
        <%# #Will require a link to view individual order %>
        <th> Product</th> 
        <%# #Will require a link to the product %>
        <th> Order date</th>
        <th> Status</th>
        <th> Total </th>
        <th> Category</th>
      </tr>
    </thead>
    <tbody>
    <% if @current_user.products %>
    <% total_revenue = 0 %>
    <% @current_user.products.each do |product| %>
      <% product.order_items.each do |order_item| %>
        <tr>
          <%order = order_item.order %>
          <td><%= link_to order.id, order_path(order.id)%></td>
          <td><%= product.id %></td>
          <td><%= readable_date(order.created_at) %></td>
          <td><%= order.status %></td>
          <td><%= order_item.total %>
          <td><%= product.categories.first.name %></td>
          <%# in this subtotal section, calculate the subtotal for that order item by calling the 'total' class method in Order_Item %>
        </tr>
      <% end %>
    <%end%>
    <%end%>
    </tbody>
  </table>
</section>
<%= link_to "Back to Home", root_path, class: "btn btn-primary" %>
