<h2>
<% if @user.merchant_name %>
  <%=@user.merchant_name%>
<% else %>
  <%= @user.username%>
<% end %>
's Shop!
</h2>

<% if @user.products.count > 0 %>
  <% @user.products.each do |product| %>
    <ul>
      <%= image_tag product.img_url, alt: product.name + "image"%>
      <li>Name: <%=link_to product.name, product_path(product.id) %></li>
      <li>Product: <%=currency_format(product.price)%></li>
      <li>Stock: <%=product.stock %></li>
      <li>Description: <%=product.description %></li>
    </ul>
  <% end %>
<% else %>
  <p>Merchant's fruit stand is empty.</p>
<% end %>
