<section>
<h2>Cart: this page is for customer to check the cart details!</h2>

<% if @current_order && @current_order.order_items %>
  <% @current_order.order_items.each do |orderitem| %>
    <%= image_tag (orderitem.product.img_url), class:"show-product-img", alt:"#{orderitem.product.name}product image" %> 
    <h2> $<%= orderitem.product.price %> </h2>
    <h5> Quantity: <%= orderitem.quantity %> </h5>
    <h5 class="card-text"> Merchant:<%= orderitem.product.user.merchant_name %>MAKE LINK!! </h5> 
  
  <%= link_to "Order", order_path(order: {status: "paid"}), method: :patch %>
  <% end %>
<% else %>
  <h2>Your Basket is Empty! :(</h2>
<% end %>
</section>