<section>
<h2>Checkout</h2>
<%= form_with model: @current_order, url: order_path(id: @current_order.id, status: "paid") do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :address %>
  <%= f.text_field :address %>

  <h2>Billing info</h2>
  <%= f.label "Credit Card Name" %>
  <%= f.text_field :cc_name %>
  <%= f.label "Credit Card Last 4 Digits" %>
  <%= f.text_field :cc_last_4 %>
  <%= f.label "Exp Date" %>
  <%= f.text_field :cc_exp %>
  <%= f.label "CVV" %>
  <%= f.text_field :cc_cvv %>
  <%= f.label "Billing Zip Code" %>
  <%= f.text_field :billing_zip %>
  
  <%= f.submit "Submit Order" %>

<% end %>
</section>