<section class="page-container">
<section class="confirmation-welcome">
  <h1> <strong> Thank you for ordering on fruitsy! </strong> </h1>
  <h2> We appreciate your business and hope to see you again soon. </h2>
  <h4> You will receive a confirmation email shortly at
  <strong> <%= @current_order.email %> </strong> </h4>
  <h4> Order <strong> <%= @current_order.id %> </strong> status is
    <strong> <%= @current_order.status %> </strong>
    - <%= currency_format(@current_order.total) %>
  </h4>
</section>

  <% if @current_order.status == "paid" %>
    <section class="confirmation-img-container">
      <% img_urls = @current_order.order_items.map do |order_item| %>
          <% order_item.product.img_url %>
      <% end %>
      <% img_urls.each do |url| %>
        <%= image_tag url, alt:"product image", class:"confirmation-img product-thumbnail" %>
      <% end %>
    </section>
  
    <section class="confirmation-shipping-container">
    <h2> Shipping Details </h2>
      <table class="table confirmation-table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @current_order.name %> </td>
            <td><%= @current_order.email %> </td>
            <td><%= @current_order.address %> </td>
          </tr>
        </tbody>
      <table class="table">
    </section>

    <h2> Billing Details </h2>
    <section class="confirmation-shipping-container">
      <table class="table confirmation-table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">CC Last 4</th>
            <th scope="col">CC Exp</th>
            <th scope="col">CC CVV</th>
            <th scope="col">Billing Zip</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @current_order.cc_name %> </td>
            <td><%= @current_order.cc_last4 %> </td>
            <td><%= @current_order.cc_exp %> </td>
            <td><%= @current_order.cc_cvv %> </td>
            <td> <%= @current_order.billing_zip %> </td>
          </tr>
        </tbody>
      <table class="table">
    </section>
  </section>
  <% end %>

