<section class="confirmation halo">
  <h2 class="product-heading">We've received your order</h2>
  <h4><strong>Order no #<%= @order.id %></strong></h4>
  <p><em>Created on <%= @order.created_at.strftime("%b %d, %Y") %></em></p>
  <p><strong>Status: <%= @order.status.capitalize! %></strong></p>

  <div class="container">
    <h4>Delivery details</h4>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <h5>Delivery for</h5>
        <p><%= @order.name %></p>
        <p><%= @order.email %></p>
      </div>
      <div class="col col-lg-6">
        <h5>Delivery method</h5>
        <p>Standard Owl Delivery</p>
      </div>
    </div>
    <div>
      <h5>Owling Address</h5>
      <p><%= @order.owling_address %></p>
    </div>
  </div>

  <div class="container">
    <h4>Order Summary</h4>
    <% @order.order_items.each do |order_item| %>
      <div class="row confirmation-row">
        <div class="col col-lg-6">
          <%= link_to image_tag(order_item.product.photo_url.empty? ? "https://i.imgur.com/yciRdrY.jpg?2" : order_item.product.photo_url, alt: "Photo of #{order_item.product.name}", class: "confirmation-img"), product_path(order_item.product.id)  %>
        </div>
        <div class="col col-lg-6 align-self-center">
          <p><strong><%= order_item.product.name %></strong></p>
          <p><em><%= order_item.product.description %></em></p>
          <p>Qty: <%= order_item.quantity %></p>
          <p>Subtotal: $<%= order_item.subtotal %></p>
        </div>
      </div>
    <% end %>
    <div id="confirmation-total">
      <p><strong>Order Total</strong> ................................................................... $<%= @order.total %></p>
    </div>
  </div>

  <div class="container">
    <h4>Payment details</h4>
    <div class="row justify-content-md-center">
      <div class="col col-lg-6">
        <h5>Credit Card</h5>
        <p>Card number: <%= @order.cc_num.gsub(/.(?=.{4})/,'*')%></p>
        <p>Exp. Date: <%= @order.cc_exp_mo %>/<%= @order.cc_exp_yr %></p>
        <p>Amount: $<%= @order.total %></p>
      </div>
      <div class="col col-lg-6">
        <h5>Billing Address</h5>
        <p><%= @order.owling_address %></p>
      </div>
    </div>
  </div>

</section>
