<h2>Confirmation: Your order has been successfully placed!</h2>

<h3>This page is for registered user to check the order details!</h3>

<h2>Order ID: <%= @current_order.id %></h2>

<h3>Order Status: <%= @current_order.status %></h3>

<h2>Shipping info:</h2>
<h3>Name: <%= @current_order.name %></h3>
<h3>Email: <%= @current_order.email %></h3>
<h3>Address: <%= @current_order.address %></h3>

<h2>Payment info:</h2>
<h3>Name: <%= @current_order.cc_name %></h3>
<h3>Card num: <%= @current_order.cc_last4 %></h3>
<h3>Exp: <%= @current_order.cc_exp %></h3>
<h3>CVV: <%= @current_order.cc_cvv %></h3>
<h3>Billing Zip: <%= @current_order.billing_zip %></h3>