<h2> Merchant <%= @current_merchant.username%>'s Dashboard</h2>

<section>
  <%= link_to "Add New Product", new_product_path, class: "btn btn-primary" %>
  <%= link_to "Create New Product Category", new_type_path, class: "btn btn-primary" %>
  
  

</section>

<section>
  <h2> List of Your Products </h2>
  <ul>
    <% @current_merchant.products.each do |product|%>
      <%= image_tag "#{product.photo_url}"%>
      <%= product.name %>
      <%= link_to "Edit", edit_product_path(product), class: "btn btn-primary" %>
    <% end %>
  </ul>
</section>


  

  
  

