<h2>Merchant's Order Items</h2>

<section>
  Total Revenue: <%= Merchant.calculate_total_revenue(@current_merchant)%>
</section>

<section>
  <table>
    <thead>
      <h3>Unfulfilled Orders</h3>
      <span>Total Revenue: </span><%= Merchant.calc_rev_by_status(@current_merchant, "false") %>
      <span>Number of Orders: </span><%= Merchant.find_merchants_orderitems(@current_merchant, "false").length %>
    </thead>
    <tbody>
      <th>Order Number</th>
      <th>Product</th>
      <th>Date Paid</th>
      <th>Cost x Quantity</th>
      <th>Subtotal</th>
      <th>Status</th>
      <th>Shipping</th>
      <% Merchant.find_merchants_orderitems(@current_merchant, "false").each do |orderitem| %>
      <tr>
        <td><%= link_to "Order ##{orderitem.order_id}", order_path(orderitem.order_id) %></td>
        <td><%= link_to orderitem.product.name, product_path(orderitem.product) %></td>
        <td><%= orderitem.order.created_at %></td>
        <td>$<%= orderitem.product.price %> x <%= orderitem.quantity %></td>
        <td>$<%= orderitem.subtotal %></td>
        <td><%= orderitem.order.status %></td>
        <td><%= link_to "Ship It", mark_shipped_path(orderitem.id), method: :patch, class: "btn btn-primary"%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>

<section>
  <table>
    <thead>
      <h3>Shipped Orders</h3>
      <span>Total Revenue: </span><%= Merchant.calc_rev_by_status(@current_merchant, "true") %>
      <span>Number of Orders: </span><%= Merchant.find_merchants_orderitems(@current_merchant, "true").length %>
    </thead>
    <tbody>
      <th>Order Number</th>
      <th>Product</th>
      <th>Date Paid</th>
      <th>Cost x Quantity</th>
      <th>Subtotal</th>
      <th>Status</th>
      <% Merchant.find_merchants_orderitems(@current_merchant, "true").each do |orderitem| %>
      <tr>
        <td><%= link_to "Order ##{orderitem.order_id}", order_path(orderitem.order_id) %></td>
        <td><%= link_to orderitem.product.name, product_path(orderitem.product) %></td>
        <td><%= orderitem.order.created_at %></td>
        <td>$<%= orderitem.product.price %> x <%= orderitem.quantity %></td>
        <td>$<%= orderitem.subtotal %></td>
        <td><%= orderitem.order.status %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
