<%= form_with model: @product, class: product_form_class do |f| %>
  <%= f.label :Name %>
  <%= f.text_field :name %>

  <%= f.label :Price %>
  <%= f.text_field :price %>

  <%= f.label :Stock %>
  <%= f.text_field :stock %>

  <%= f.label "Image URL" %>
  <%= f.text_field :img_url %>

  <%= f.label :Description %>
  <%= f.text_field :description %>

  <section>
    <%= f.label "Fruits: " %>
    <%= f.select :categories, Category.where(category_type: "fruit").map {|cat| cat.name.capitalize}, :multiple => true %>
  </section>
  
  <section>
    <%= f.label "Fruit Themes: " %>
    <%= f.select :category, Category.where(category_type: "theme").map {|cat| cat.name.capitalize} %>
  </section>

  <section>
    <%= f.label "Product Type: " %>
    <%= f.select :category, Category.where(category_type: "category").map {|cat| cat.name.capitalize} %>
  </section>

  <section>
    <%= f.label "Colors: " %>
    <%= f.select :category, Category.where(category_type: "color").map {|cat| cat.name.capitalize} %>
  </section>

  
  
  <%= f.submit submit_button_label, class: "product-form-button" %>

<% end %>