<div class="container">
  <%= form_with model: @product, url: wizard_products_path do |f| %>

  <div class="row justify-content-md-center">
    <%= f.label :name %>: 
  </div>
  <div class="row justify-content-md-center">
    <%= f.text_field :name %>
  </div>

  <div class="row justify-content-md-center">
    <%= f.label :price %>: 
  </div>
  <div class="row justify-content-md-center">
    <%= currency_symbol() %>
    <%= f.number_field :price, step: 0.01 %>
  </div>

  <div class="row justify-content-md-center">
    <%= f.label :categories %>: 
  </div>
  <div class="row justify-content-md-center">
    <%= f.collection_check_boxes :category_ids, Category.all_alphabetized, :id, :name, {}, {:multiple => true} %>
  </div>

  <div class="row justify-content-md-center ">
    <%= f.label :description %>
  </div>
  <div class="row justify-content-md-center">
  <%= f.text_area :description, :cols => "50", :rows => "6"%>
  </div>

  <div class="row justify-content-md-center">
    <%= f.label :stock %>: 
  </div>
  <div class="row justify-content-md-center">
    <%= f.number_field :stock %>
  </div>

  <div class="row justify-content-md-center">
    <%= f.label :photo_url %>: 
  </div>
  <div class="row justify-content-md-center">
    <%= f.text_field :photo_url %>
  </div>

  <div class="row justify-content-md-center"">
    <%= f.submit submit_button_label, class: "btn btn-dark product-button"%>
  </div>

  <% end %>

</div>
