<section>
  <h2 class="product-heading" id="index-heading">All 
    <% if @category %>
    <%= @category.name.capitalize %>
    <% end %>
    Products
    <% if @wizard %>
      from <%= @wizard.username %>
    <% end %>
  </h2>

  <div class="card-container">
    <% @products.each do |product| %>
      <div class="card" style="width: 18rem;">
        <%= link_to image_tag(product.photo_url.empty? ? "https://i.imgur.com/yciRdrY.jpg?2" : product.photo_url, alt: "a picture of a #{product.name}", class: "img-thumbnail"), product_path(product.id) %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to product.name, product_path(product.id) %></h5>
          <p class="card-text"><%= humanized_money_with_symbol(product.price) %></p>
        </div>
      </div>
    <% end %>
  </div>

  <% if @wizard && @wizard.products.empty? %>
    <p>There are no exisiting products from this wizard.</p>
  <% end %>
</section>

