<section>
  <h2>All 
    <% if @category %>
    <%= @category.name.capitalize %>
    <% end %>
    Products
    <% if @wizard %>
      from <%= @wizard.username %>
    <% end %>
  </h2>
  
  <ul class= "product-photo-container">
    <% @products.each do |product| %>
      <li class= "product-photo">
      <h3><%= product.name %></h3>
      <%= image_tag product.photo_url %>
      <p>$<%= product.price %></p>
      </li>
    <% end %>
  </ul>

  <% if @wizard && @wizard.products.empty? %>
    <p>There are no exisiting products from this wizard.</p>
  <% end %>
</section>
