<section>
  <h1>Products#index</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Photo</th>
        <th>Stock</th>
        <th>Merchant</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.photo_url%></td>
          <td><%= product.stock %></td>
          <td><%= product.merchant %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>