<section>
  <h2>All 
    <% if @category %>
    <%= @category.name.capitalize %>
    <% end %>
    Products
    <% if @wizard %>
      from <%= @wizard.username %>
    <% end %>
  </h2>

  <div class="thumbnail">
    <% @products.each do |product| %>
      <div class="thumbnail-container">
        <%= image_tag product.photo_url, alt: "Picture of #{product.name}", class: "img-thumbnail" %>
      </div>
      <div class="caption">
        <strong><%= link_to product.name, product_path(product.id) %></strong> $<%= product.price %>
      </div>
    <% end %>
  </div>



  <% if @wizard && @wizard.products.empty? %>
    <p>There are no exisiting products from this wizard.</p>
  <% end %>
</section>
