<section>
  <h3>Name: <%= @product.name %><h3>
  <p>Description: <%= @product.description %></p>
  <p>Price: $<%= @product.price %></p>
  <p>Quantity: <%= @product.stock %></p>
  <p>Sold by: <%= @product.merchant.username%></p>
  <p>Add to cart<%=%></p>
  <%= link_to "Edit", edit_product_path(@product.id) %>
</section>