<section>
  <h1 class="card-title"> <%= @product.name %></h1>
  <%= product_img_link(product: @product, img_url: @product.img_url, product_class: "show-product-img")%> 
    <h2><%=currency_format(@product.price) %> </h2>
    <h4> <%= @product.description %> </h4>
    <h5> Stock: <%= @product.stock %> </h5>
    <%= form_with model: OrderItem, url: product_order_items_path(@product.id) do |f| %>
      <%= f.label :quantity, class: "col-sm-2 col-form-label"%>
      <%= f.text_field :quantity, class: "form-control" %>
      <%= f.submit "add to cart", class: "btn btn-primary" %>
    <% end %>


    <% merchant = User.find_by(id: @product.user_id)%>
    <h5 class="card-text"> Merchant:<%= link_to @product.user.username, user_path(@product.user.id)  %></h5> 
    <h5>
      Categories: 
      <% categories = @product.categories.map do |category| %>
        <%= link_to category.name, category_products_path(category.id) %>,
      <% end %>
    </h5>
</section>


<%= form_with model: Review, url: reviews_path, method: :post do |f| %>
  <%= f.label "Rating", class: "col-sm-2 col-form-label"%>
  <%= f.select :rating, (1..5).to_a, class: "col-sm-2 col-form-label" %>
  <%= f.label "Title", class: "col-sm-2 col-form-label"%>
  <%= f.text_field :title, class: "form-control" %>
  <%= f.label "Review", class: "col-sm-2 col-form-label"%>
  <%= f.text_field :description, class: "form-control" %>
  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  <%= f.hidden_field :product_id, :value => @product.id %>

  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>


<h2> <%= @product.name %> Reviews </h2>
  <% @product.reviews.order(rating: :desc).each do |review| %>
  <section class="review-containter">
    <div> 
      <% review.rating.times do %>
        <%= rating_img %>
      <% end %>
    </div>
    <h2> <%= review.title %>
    <small> -
      <% if review.user %>
          <%= link_to review.user.username, user_path(review.user.id) %>
      <% else %>
          Guest
      <% end %>
    </small>
    </h2>
    <p> <%= review.description %> </p>
    <% if session[:user_id] && review.user_id == session[:user_id] %>
      <%= link_to "Delete Your Review", review_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
    <% end %>
  </section>
<% end %>
