<section>
  <h1 class="card-title"> <%= @product.name %></h1>
  <%= image_tag (@product.img_url), class:"card-img-top", alt:"#{@product.name}product image" %> 
    <h2> $<%= @product.price %> </h2>
    <h4> <%= @product.description %> </h4>
    <h5> Quantity: <%= @product.quantity %> </h5>
    <% merchant = User.find_by(id: @product.user_id)%>
    <h5 class="card-text"> Merchant:<%= merchant.merchant_name %>MAKE LINK!! </h5> 
</section>