<section>
  <h1 class="card-title"> <%= @product.name %></h1>
  <%= image_tag (@product.img_url), class:"show-product-img", alt:"#{@product.name}product image" %> 
    <h2> $<%= @product.price %> </h2>
    <h4> <%= @product.description %> </h4>
    <h5> Stock: <%= @product.quantity %> </h5>
    <%= form_with model: OrderItem do |f| %>
      <%= f.label :quantity, class: "col-sm-2 col-form-label"%>
      <%= f.text_field :quantity, class: "form-control" %>
      <%= f.submit "add to cart", class: "btn btn-primary" %>
    <% end %>


    


    <% merchant = User.find_by(id: @product.user_id)%>
    <h5 class="card-text"> Merchant:<%= link_to @product.user.username, user_path(@product.user.id)  %></h5> 
    <h5>
      Categories: 
      <% categories = @product.categories.map do |category| %>
         <%= link_to category.name, category_products_path(category.id) %>,
      <% end %>
    </h5>
</section>