<section>
  <div class="img"><%= image_tag "#{@product.photo_url}"%></div>
  <h3>Name: <%= @product.name %><h3>
  <p>Description: <%= @product.description %></p>
  <p>Price: $<%= @product.price %></p>
  <p>Sold by: <%= @product.merchant.username%></p>
  <% if @product.retired %>
    <p>Not currently for sale</p>
  <% end %>

  <%# add a drop for quantity which is basically the limit of the stock %>
  <%# when add to cart is clicked, orderitem.quantity is set %>
  <%# <%= form_for @orderitem, remote: true do |f| %>
    <%#@product.stock %>
    <%#=f.select :stock, (0..@product.stock) %>
    <%#=#f.submit "Add to Cart", class: "btn btn-primary" %>
  <%#end %>



  <%= button_to "Add to Cart", product_orderitems_path(product_id: @product.id), method: :post, class: "btn btn-primary" %>
  <%= link_to "Edit", edit_product_path(@product.id), class: "btn btn-primary" %>
  <%= link_to "Back", products_path, class: "btn btn-primary" %>
</section>