<main>
<div class="container">
	<div class="row">
		<div class="col-lg-12"><h2><%= @product.name.upcase%></h2></div>
	</div>
	<div class="row">
  	<div class="col-lg-6">
  		<%= image_tag @product.photo_url, alt: "a picture of #{@product.name}" %>
  	</div>
		<div class="col-lg-6">
  
		<p>Seller: <%=@product.wizard.username%></p>
		<p>Price: <%=@product.price%></p>
		<p>Description: <%=@product.description%></p>
		<p>Stock: <%=@product.stock%></p>
		<%=link_to "Add to Cart" %>
  
  	</div>
	</div>
</div>



<h3> Reviews </h3>
<%=link_to "Make A Review"%>

<%@product.reviews.each do |product|%>
<%=product.rating%>
<%end%>

</main>







