<section>
  <div class="img"><%= image_tag "#{@product.photo_url}"%></div>
  <h3>Name: <%= @product.name %><h3>
  <p>Description: <%= @product.description %></p>
  <p>Price: $<%= @product.price %></p>
  <p>Sold by: <%= @product.merchant.username%></p>
  <% if @product.retired %>
    <p>Not currently for sale</p>
  <% end %>
  <%= @product.stock %>

  <%= form_with model: @orderitem, url: "/products/#{@product.id}/orderitems" do |f| %>
    <%= f.label :quantity %>
    <%= f.select :quantity, (1..@product.stock) %>
    <%= f.submit "add to cart"%>
  <% end %>



  <%= button_to "Add to Cart", product_orderitems_path(product_id: @product.id), method: :post, class: "btn btn-primary" %>
  <%= link_to "Edit", edit_product_path(@product.id), class: "btn btn-primary" %>
  <%= link_to "Back", products_path, class: "btn btn-primary" %>
</section>

