<h2>Write A Review</h2>
<% if @review.errors.any? %>
  <ul class="errors">
    <% @review.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @review, url: product_reviews_path do |f| %>

  <%= f.label :rating %>
  <%= f.select :rating, [ 1,2,3,4,5] %>


  <%= f.submit "Create Review"%>

<% end %>
