<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><h1>Lumos</h1></li>
          <li>Login</li>
          <li>Sign Up</li>
          <li>Cart</li>
        </ul>
      </nav>
      <section class="categories">
        <ul>
          <li><%#link_to 'All Items', products_path %></li>
          <% Category.all.each do |category| %>
            <li><%=category.name%></li>
          <% end %>
          <li>
            <%# boostrap dropdown %>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wizards
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% Wizard.all.each do |wizard|%>
                  <%= link_to wizard.username, wizard_products_path(wizard.id), class:"dropdown-item" %>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </header>

    <%= yield %>
  </body>
</html>
