<!DOCTYPE html>
<html>
  <head>
    <title>Kegsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway&display=swap' %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <header class="app-header__header">
      <h1>
        <p>Kegsy</p>
        <small>Drink your Ada troubles away</small>
      </h1>
      

      <nav class="app-header__nav">
        <ul class="nav app-header__site-nav-container">

          <div class="dropdown">
          <li class="nav-item app-header__nav_item" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= link_to "Products", products_path, method: :get %></li>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% Type.all.each do |type|%>
                <li> <%= link_to "#{type.name.capitalize}", type_path(type), class: "dropdown-item"  %> </li>
              <% end %>
            </div>
          </div>
      
        
          
          <li class="nav-item app-header__nav_item"><%= link_to "Merchants", merchants_path %></li>
          <li class="nav-item app-header__nav_item">
            <% if session[:merchant_id] %>
              <%= link_to "Logged in as #{Merchant.find_by(id: session[:merchant_id]).username}", current_merchant_path, class: "btn btn-primary"  %>
              <%= link_to "Log out", logout_path, method: "delete", class: "btn btn-primary" %>
            <% else %>
              <%= link_to "Login with Github", github_login_path, class: "btn btn-primary" %>
            <% end %></li>
          <li class="nav-item app-header__nav_item">Shopping Cart</li>
        </ul>
      </nav>
    </header>

 
   <section class="flash">
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %>"><%= message %></div>
    <% end %>
  </section>
  
    <main>
      <%= yield %>
    </main>

    <footer class="app-footer__footer">
      <section class="app-footer__nav">
        <ul class="nav app-footer__site-nav-container">
          <li class="nav-item app-footer__nav_item">Contact Us</li>
          <li class="nav-item app-footer__nav_item">Order Status</li>
          <li class="nav-item app-footer__nav_item">Shipping</li>
          <li class="nav-item app-footer__nav_item">Returns & Exchanges</li>
          <li class="nav-item app-footer__nav_item">About Us</li>
        </ul>
      <section>
    </footer>
    
  </body>




</html>
